html, body{
    font-family: sans-serif;
    margin: 0;
    text-align: center;
    background-color: #fbdcef;
}
header{
	background-color: #f2aedb;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 65px;
	color: white;
	font-style: oblique;
}
h2{
	background-color: #f2aedb;
}
header img{
border-radius: 150px;
width: 300px;

{

}
}
footer{
	background-color: #f2aedb;
}
footer ul li{
    display: inline-block;

}
/*			<img src="img/profile.png">
			<h1>Frankie</h1>
		</header>

