html, body{
    font-family: sans-serif;
    margin: 0;
}
header{
	background-color: #f2aedb;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 65px;
	color: white;
	font-style: oblique;
	font-family: "Arial";
}

header img{
border-radius: 150px;
width: 300px;

{

}
}
footer ul li{
    display: inline-block;
    margin: 0 10px;
}
/*			<img src="img/profile.png">
			<h1>Frankie</h1>
		</header>

